FinalItechArt/bin/
FinalItechArt/obj/
FinalItechArt/FinalItechArt.Web.csproj.user
FinalItechArt/Properties/
FinalltechArt.DB/bin/
FinalltechArt.DB/obj/
FinalltechArt.DB/Properties/
.vs/
FinalltechArt.Service/bin/
FinalltechArt.Service/obj/
DataTransferObject/bin/
DataTransferObject/obj/
