FinalItechArt/bin/Debug/netcoreapp2.2/ItechArtBigWebTask.dll
FinalItechArt/bin/
FinalItechArt/obj/
FinalItechArt/Properties/
FinalItechArt/appsettings.Development.json
FinalItechArt/appsettings.json
FinalItechArt.sln
FinalItechArt.DB/bin/
FinalItechArt.DB/obj/
FinalItechArt.DB/Properties/