FinalItechArt/bin/
FinalItechArt/obj/
FinalItechArt/Properties/
FinalItechArt/appsettings.Development.json
FinalItechArt/appsettings.json
FinalItechArt.sln
FinalltechArt.DB/bin/
FinalltechArt.DB/obj/
FinalltechArt.DB/Properties/
.vs/
FinalltechArt.Service/bin/
FinalltechArt.Service/obj/
FinalltechArt.Service/FinalltechArt.Service.csproj
DataTransferObject/DataTransferObject.csproj
DataTransferObject/bin/
DataTransferObject/obj/
