ul {

    margin-left: 0; 

    padding-left: 0; 

}

	


.UserCabinet li {



 list-style-type: none; 

 margin:auto;

 

 

}

.UserCabinet ul {

 margin-top:5px;

}





.UserCabinet{

text-align:center;

width:1000px;

margin:auto;

margin-top:20px;
padding-left:20px;

padding-top:20px;

padding-right:20px;

padding-bottom:20px;



}



.UserCabinet .formButton{

margin-top:20px;

}



.UserCabinet h3{

letter-spacing: 5px;

font-weight: bold;

font-family: "Times New Roman", Georgia, Serif;

font-style:italic;

color:#AB47BC;

}

.link{
	color:white;
	 text-decoration: none;
}
